@media screen and (max-width: 768px){

  body {
    background: rgb(134, 76, 9);
    font-family: 'Lato';
    color: white;
    padding: 0.5em;
  }

  main {
    background: lightgrey;
    color: #000;
    width: 100%;
  }

  h1{
    font-size: 40px;
    margin-top: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  header {
    margin-bottom: 5px;
  }

  .styled, #newgame{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: purple;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }

  #newgame:hover {
    background-color: rgba(255, 0, 0, 1);
  }

  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  #newgame:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  #score1, #score2, #currentScore1, #currentScore2{
    font-size: 40px;
  }

  #colCenter {
    height: 320px;
    width: 320px;
    padding: 5px;
    display: inline-block;
    position: relative;
    text-align: -webkit-center;
  }

  #spaceToPlay {
    height:305px;
    width: 305px;
    background: rgb(4, 100, 4);
    border-radius: 100%;
    border: solid 10px chocolate;
  }

  #bottomRow {
    align-content: center;
    }

  /* création du dé */
  #dice{
    box-sizing: border-box;
    color:white;
    font-size: 25px;
    width: 40px;
    height: 40px;
    perspective: 1000px;
    perspective-origin: -80px -250px;
    position: absolute;
    top: 50%;
    left: 50%;

  }
  div.side{
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    background-color: purple;
    border: solid 1px black;
  }

  #front{
    transform: translateZ(25px);
    background: rgb(98, 47, 238);
  }
  #back{
    transform: rotateY(-180deg) translateZ(25px);
  }
  #left{
    transform: rotateY(-90deg) translateZ(25px);
  }
  #right{
    transform: rotateY(90deg) translateZ(25px);
  }
  #top{
    transform: rotateX(90deg) translateZ(25px);
  }
  #bottom{
    transform: rotateX(-90deg) translateZ(25px);
  }


  /*Animation du dé*/
  .rotate-vert-center {
    animation: rotate-vert-center 2s linear 1 both;
  }@keyframes rotate-vert-center {
    0% {
      transform: translate(150%, -100%) rotate(0)
    }

    25% {
      transform: translateX(0px) rotate(-0.7turn);
      animation-timing-function: cubic-bezier(.42,1.38,.61,1.07);
    }

    50% {
      transform: translateX(-250%) rotate(-1.5turn);
      animation-timing-function: cubic-bezier(.42,1.38,.61,1.07);

    }

    100% {
      transform: translate(-100%, 200%) rotate(0.5turn);
    }
  }
}


/* pour ecran tablette et ordi */

@media screen and (min-width: 768px){

  body {
    background: rgb(134, 76, 9);
    font-family: 'Lato';
    color: white;
    padding: 0.5em;
  }
  
   main {
    background: lightgrey;
    color: #000;
    width: 100%;
  }
  
  h1{
    font-size: 40px;
    margin-top: 0;
  }
  
  h2 {
    margin-bottom: 0;
  }
  
  header {
    margin-bottom: 5px;
  }
  
  .styled, #newgame{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: purple;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  #newgame:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  
  #newgame:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  
  #score1, #score2, #currentScore1, #currentScore2{
    font-size: 40px;
  }  

  #colCenter {
    height: 300px;
    width: auto;
    padding: 5px;
    display: inline-block;
    position: relative;
    text-align: -webkit-center;
  }
  
  #spaceToPlay {
    height:300px;
    width: 600px;
    background: rgb(4, 100, 4);
    border: solid 10px chocolate;
  }
  
  #bottomRow {
    min-height: 150px;
    align-content: flex-end;
    } 

      /* création du dé */
  #dice{
    box-sizing: border-box;
    color:white;
    font-size: 25px;
    width: 40px;
    height: 40px;
    perspective: 1000px;
    perspective-origin: -80px -250px;
    position: absolute;
    top: 50%;
    left: 50%;

  }
  div.side{
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    background-color: purple;
    border: solid 1px black;
  }

  #front{
    transform: translateZ(25px);
    background: rgb(98, 47, 238);
  }
  #back{
    transform: rotateY(-180deg) translateZ(25px);
  }
  #left{
    transform: rotateY(-90deg) translateZ(25px);
  }
  #right{
    transform: rotateY(90deg) translateZ(25px);
  }
  #top{
    transform: rotateX(90deg) translateZ(25px);
  }
  #bottom{
    transform: rotateX(-90deg) translateZ(25px);
  }

  /*Animation du dé*/

  .rotate-vert-center {
    animation: rotate-vert-center 2s linear 1 both;
  }@keyframes rotate-vert-center {
    0% {
      transform: translate(150%, -150%) rotate(0)
    }

    25% {
      transform: translateX(0px) rotate(-0.7turn);
      animation-timing-function: cubic-bezier(.25,.06,.87,.86);
    }

    50% {
      transform: translateX(-700%) rotate(-1.5turn);
      animation-timing-function: linear;

    }

    75% {
      transform: translate(-100%, 200%) rotate(1turn);
    }

    100% {
      transform: translate(0);
    }
  }
}